<div class="wrapper">
  <h1>Property No. <%= @property.id %></h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Property Type</th>
        <th>Street</th>
        <th>House-Number</th>
        <th>Zip-Code</th>
        <th>City</th>
        <th>Living-Space</th>
        <th>Plot Area</th>
        <th>Number of Rooms</th>
        <th>Year of Construction</th>
        <th>Descriptiom</th>
        <th>Stage</th>
        <th>Advance Stage</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @property.property_type.capitalize %></td>
        <td><%= @property.street %></td>
        <td><%= @property.house_number %></td>
        <td><%= @property.zip_code %></td>
        <td><%= @property.city %></td>
        <td><%= @property.living_space %></td>
        <td><%= @property.plot_area %></td>
        <td><%= @property.number_of_rooms %></td>
        <td><%= @property.construction_year %></td>
        <td><%= @property.description %></td>
        <td class="stage"><%= @property.show_stage %></td>
        <td><%= form_tag update_stage_properties_path do %>
          <%= hidden_field_tag 'token', @property.id %>
          <%= submit_tag "Advance", class: 'btn btn-primary' %>
          <% end %>
          <%= form_tag update_stage_properties_path do %>
          <%= hidden_field_tag 'token1', @property.id %>
          <%= submit_tag "Lost", class: 'btn btn-primary' %>
          <% end %></td>
          <td><%= link_to "Edit", edit_property_path(@property), id: @property.id %></td>
        </tr>
      </tbody>
    </table>
</div>
